body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #000;
}

/* background image */
img {
    width: 100%;
    z-index: 0;
}

/* audio is background music, should not be seen */
audio {
    display: none;
}

/* Title of website */
.title {
    position: absolute;
    top: 5%;
    width: 100%;

    text-align: center;
    font-size: 80px;
    font-family: yuShi;

    background: url(../src/texture/dark.png);
    background-position: center;
    background-size: 12%;
    -webkit-background-clip: text;
    color: transparent;

    /*text-shadow: 0px 0px 20px rgba(18, 233, 255, 0.5);*/
    -webkit-text-stroke: 0.025px black;
}

/* Button to enter the main website */
.enterBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;

    width: 400px;
    height: 200px;

    transform: translate(-250px, -50px);

    border: 5px solid rgb(251, 253, 141);
    border-radius: 100px;
    background-color: rgba(48, 45, 38, 0.5);

    font-size: 100px;
    font-family: yuShi;
    font-weight: bold;


}

/* effect of entering button */
.enterBtn:hover {
    transition-duration: 500ms;

    border-style: dashed;
    background-color: rgba(132, 24, 10, 0.5);
}

/* backgrond button */
#background {
    width: 100%;
    position: absolute;
    /* transform: translateY(-500px); */
    /* transform: translateX(-30px); */
    /* transform: translateY(-50%); */

    top: -50%;
}

/* show for responsive */
.notSupport {
    /* display: none; */
    border: 2px solid rgba(132, 24, 10, 0.5);
    background-color: rgba(48, 45, 38, 0.5);

    margin: 20px;
    font-family: yuShi;
}

.notSupport button {
    width: 50%;
    height: 50px;
    font-size: 30px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.notSupport h1 {
    margin-top: 20px;

    font-size: 50px;
}

@media screen and (max-width:1200px) {
    #background {
        display: none;
    }

    .notSupport {
        display: block;
    }
}