/* Color Theme Swatches in Hex */
.color-theme_main_background-1-hex { color: #CBAEF2; }
.color-theme_main_background-2-hex { color: #6C57F2; }
.color-theme_main_background-3-hex { color: #6452D9; }
.color-theme_main_background-4-hex { color: #9591F2; }
.color-theme_main_background-5-hex { color: #162440; }