:root {
    --color1: #5d4954;
    --color2: #6C57F2;
    --color3: #6452D9;
    --color4: #9591F2;
    --color5: #0F0E0E;
    /* background */
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(./src/background_fujinohana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
    /* background: url(./src/ep11_bg.png);
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: var(--color5);

    text-align: center;
    color: white;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* NAV Bar CSS Start*/

.topNav {
    position: fixed;
    top: 0;
    width: 100%;

    height: 100px;

    background-color: var(--color1);
    background-image: url(./src/fujinohana01.png);

    z-index: 100;
}

.navLogo {
    background: url(./src/logo.png);
    background-repeat: no-repeat;
    height: 80px;

    float: left;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
}

nav {
    float: none;
    margin-right: 150px;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 35px;

    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: myWord, cursive;
    font-size: xx-large;
}

.nav-links a:hover {
    color: var(--color4);
}

.nav-links a::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--color4);

    position: absolute;
    width: 0px;
    left: 50%;

    transition: all ease-in-out 250ms;
}

.nav-links a:hover::after {
    width: 100%;
    left: 0%;
}

/*right side of the Navbar*/
.smallNav {
    float: right;
    display: none;
    cursor: pointer;
}

.smallNav div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width:1200px) {
    .smallNav {
        margin: 30px 0 0 0;
    }

    .nav-links li {
        margin: 30px 20px;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 100px;
        background-image: url(./src/fujinohana01.png);
        display: flex;
        flex-direction: column;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .smallNav {
        display: block;
    }
}

.nav-active {

    transform: translateX(0%);
}


/* NAV Bar Css END */

.character_img {
    display: none
}

.character_img img {
    height: 600px;
}

/* img {
    vertical-align: middle;
} */

/* Slideshow container */

.slideshow-container {
    margin: auto;
    margin-top: 100px;
    position: relative;

    max-width: 1000px;

    /* display: flex;
    justify-content: center; */
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 100%;
    width: auto;
    padding: 16px;
    margin-top: -100px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.character_img {
    /* border: 3px solid #624dbf; */
    text-align: center;
    margin: 0px 50px;
}

/* Position the "next button" to the right */

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: var(--color1);
}

/* Caption text */

.text {
    color: #FFF;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */

.slides_dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 150ms ease;
}

.active,
.slides_dot:hover {
    background-color: var(--color1);
}

/* intro container */

.intro_container {
    border: 5px solid white;
    width: 80%;
    /* height: 200px; */

    text-align: left;
}

.intro_main {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: large;
    font-family: mainWord;

    /* content */
    letter-spacing: 3px;
    line-height: 200%;

    opacity: 0;
}

h1 {
    margin-top: 3%;
}

h2 {
    line-height: 300%;
    font-size: xxx-large;
    font-family: myWord, cursive;
}

.intro_speak {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;

    background: url(./src/blood.jpeg);
    -webkit-background-clip: text;
    color: transparent;

    transform: rotate(3deg);

    margin-top: 5%;
    margin-bottom: 5%;
}

#intro_murada {
    display: block;
    opacity: 1;
}

#intro_chutaro,
#intro_kanao,
#intro_ozaki {
    display: none;
    opacity: 0;
}

button {
    font-size: 50px;
    width: 100px;
    height: 100px;
}

/* Fade animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* back to top button */
#backToTopBtn {
    /* Ref: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
    /* default none, scoll to show */
    display: none;

    /* opacity: 0; */

    /* position */
    position: fixed;
    bottom: 50px;
    right: 50px;

    z-index: 99;
    /* not overlap */
    border: none;
    /* clear border */
    outline: none;
    /* clear outline */

    background-color: var(--color1);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 90px;

    font-size: xx-large;
    font-weight: bold;
    text-align: center;

    /* transition-duration: 500ms; */
}

#backToTopBtn:hover {
    background-color: #624dbf;
}

.ft_list,
.ft_Item {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    list-style: none;

    display: inline;
}

/* Footer */
.ft_btn {
    display: flex;
    margin: auto;
}

footer {
    margin-top: 30px;

    display: flex;
    justify-content: center;

    height: 5%;
    background-color: var(--color1);
    background-image: url(./src/fujinohana02.png);
}

footer a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

@font-face {
    font-family: myWord;
    src: url(./font/HanyiSentyFlorCalligraphy.ttf)
}

@font-face {
    font-family: mainWord;
    src: url(./font/tetai-2.ttf);
}

@media screen and (max-width: 1200px) {

    .next,
    .prev {
        display: none;
    }

    .intro_container {
        width: 90%;
    }
}