/*Scrolling animation in the top*/
.zoom {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(./src/character.jpg);
    /*full size in the box*/
    background-size: cover;
}

.zoom::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 800;
    background: linear-gradient(transparent, rgb(87, 125, 230));
}

.zoom #layer1 {
    position: absolute;
    /*left: 20%;*/
    width: 100%;
    right: 0;
    transform: translateX(-10%);
    z-index: 10;
    /*position: absolute;

    transform: translateX(50%);
    width: 50%;
    z-index: 9;*/
}

.zoom #layer2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    transform: translateY(100%);
    z-index: 10;
}

.zoom #layer3 {
    position: absolute;
    right: 0;
    transform: translateX(50%);
    width: 100%;
    z-index: 9;
}

/*End of Scrolling animation in the top*/

.content {
    padding: 100px;
    box-sizing: border-box;

}

.content h1 {
    text-align: left;
    font-size: xx-large;
}

#blueWord {
    color: mediumslateblue;
}

/*Srolling to show the photo or disappear*/
.inline-photo {
    border: 20px solid #fff;
    border-bottom: 60px solid #fff;
    border-radius: px;
    box-shadow: 1em 1em 3em .25em var(--color3);
    margin: 200px;
    max-width: 600px;
    opacity: 0;
    transform: translateY(30%) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out;
    width: 90%;

    will-change: transform, opacity;
}

.inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
}